div.contenedor{
	width: 200px;
	height: 200px;
	perspective: 600px;
}
div.card{
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}

div.cara{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;

}

div.back{
	transform: rotateY(180deg);
	background-color: #4A92F7;
	border: 1px solid black;
	color: #AB7611

}

div.card:hover{
transform: rotateY(180deg);

}
div.back a{
	text-decoration:none ;
	color: #F7BC4A;
}

