div label.titulo{
  float: left;
  width: 100px;
}

div span label{
  
  font-size: .7em;
  
}

div span input{
display: block;
margin-left: 100px;
}
input#codigopostal{
width: 50px;
}



input#municipio{
width: 50px;
}


ul li{
  list-style: none;

}
.requerido{
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}


ul li:hover {
  background-color: #FF9;
}



ul li input:focus {

  border: 1px solid #E6B700;
}

label.titulo{
  font-weight: bold;

}
