ul{
	
	list-style: none;
	display: inline;

}
ul>li{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
	
	width: 100px;
	background-image: url("flecha_inactiva.png");
	background-repeat: no-repeat;
	background-position: 7px 7px;
	padding: 6px;
	padding-left: 30px;
}
ul li:last-child{
	border-bottom: 1px solid black;
}
ul li:hover{
	background-image: url("flecha_activa.png");
	background-color: #E4E4E4;
}
