ul{
	list-style: none;
	display: inline;

}
ul>li{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	padding-left: 40px;
	background-color: grey;
	width: 200px;
	background-image: url("flecha_inactiva.png");
	background-repeat: no-repeat;
	background-position: 7px 7px;
}
ul li:last-child{
	border-bottom: 1px solid black;
}
ul li:hover{
	background-image: url("flecha_activa.png");
	background-color:  #E4E4E4;
}
